<div class="center hero-unit">
  <h1>About LoboBlanca.org</h1>

  <h2>
  This is the about page for the
  <a href="http://loboblanca.herokuapp.com/">LoboBlanca site.</a>
  </h2>
  <h3><p>It is based on three simple assumptions:</p>
  <ol style="margin-left: 40px;">
  <li>The wolf is a noble animal with an important role in preservation of entire ecosystems
	that we value.</li>
  <li>The wolf may be the "top dog" among the canine family, but its chief rival predator, man,
	is often arrayed against it, in a to-the-death competition for resources across much of its
	natural range.</li>
  <li>The only way to rebalance the ecosystems we value is to actively level the playing field,
	by taking vigorous actions to support the wolf in its battle against human aggression.</li>
  </ol>
  </h3>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("LoboBlanca.png", alt: "LoboBlanca"), 'http://loboblanca.herokuapp.com/' %>
