<% provide(:title, @admin.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @admin, size: 100 %>
        <%= @admin.name %>
        <br><%= @admin.email %>
      </h1>
    </section>
  </aside>
</div>
