<footer class="footer">
  <small>
    <a href="http://loboblanca.herokuapp.com/">LoboBlanca.org</a>
    courtesy of Steve Sneddon
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.loboblanca.herokuapp.com/">News</a></li>
    </ul>
  </nav>
</footer>
